/*- Custom style -*/

// -- Put custom style under this point -- //

#post-page {
  .content {
    img {
      background: url(../img/loading.gif);
      background-size: 80px;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 200px;
      margin: 30px 0px;
      border: 2px solid $main-color;
    }

    div.highlight {
      overflow: scroll;
      padding: 5px;
      font-size: 16px;
      margin: 5px 0px;
    }
  }
}

.footer {
  a {
    color: #fff;
  }
}